<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :no %><br />
    <%= f.number_field :no %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>

  
  <div id="product_selection"> 
  <%= render :partial=>'product_details',:locals=>{:f=>f}   %>
  </div>
  <%= link_to "Add",add_product_invoices_path,:remote=>true %>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
