<%= fields_for 'invoice_products[]',InvoiceProduct.new do |product_form| %>
 <%= product_form.label :product_id, "Select Product" %><br />
<%= product_form.collection_select :product_id,Product.all,:id,:name %>
  <%= product_form.number_field :quantity %>
  <% end %>