<p id="notice"><%= notice %></p>

<p>
  <b>Invoice No:</b>
  <%= @invoice.no %>
</p>

<p>
  <b>Date:</b>
  <%= @invoice.date %>
</p>


<% @invoice.invoice_products.each do |invoice_product|  %>
<p><b>Product Name: </b><%= invoice_product.product.name %>
<b>Quantity: </b><%= invoice_product.quantity %></p>
<% end %>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
